<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Playlist</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>

</head>
<body>

<div class="header">
    <div class="logo">
        <a href="/"><img src="images/logo.png" width="80" height="80" alt=""/></a>
    </div>

    <div class="menu">
        <ul sec:authorize="isAnonymous()">
            <li><a th:href="@{/login}" title="">Log In</a></li>
            <li><a th:href="@{/registration}" title="">Sign Up</a></li>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}" title="">Admin Panel</a>
            <li><a th:href="@{/profile/my-playlists}" title="">My Playlists</a>
            </li>
            <li><a class="username" th:href="@{/profile/edit-profile}" title="" th:text="${user.username}"></a>
            </li>
            <li><a th:href="@{/logout}" title="">Sign Out</a></li>
        </ul>
    </div>
</div>

<div class="create-playlist">
    <form class="form" action="#" th:action="@{/create-playlist}" th:object="${playlist}" method="post">

        <h3>Generate Playlist</h3>
        <div class="sentence">
            <span>Travel time - </span>
            <span class="duration-format" th:text="*{duration}"></span>
        </div>
        <div>
            <span><label th:text="#{label.title}">Title</label></span>
            <span><label><input type="text" th:field="*{title}" required="required"/></label></span>
        </div>
        <div class="duration">
            <span><label th:text="Duration">Title</label></span>
            <span><label><input type="text" th:field="*{duration}" required="required"/></label></span>
        </div>
        <div>
            <span class="genres" th:each="genre : ${genres}">
                <label class="checkbox-size"><input type="checkbox" th:field="*{genres}" th:value="${genre.name}"
                                                    onclick="showActiveGenres()"/></label>
                <label th:text="${genre.name}">Rock</label></span>
        </div>
        <div class="genres-percentages" th:each="genre : ${genres}" th:id="${genre.name}">
            <span><label class="genre-name" th:text="${genre.name}">Percentage</label></span>
            <span><label><input type="number" min="0" max="100" th:field="*{percentages}"/></label></span>
        </div>
        <div class="options">
            <span><label class="checkbox-size"><input type="checkbox" th:field="*{repetitionAllowed}"/></label></span>
            <span><label th:text="#{label.repeat}"></label></span>
        </div>
        <div class="options">
            <span><label class="checkbox-size"><input type="checkbox" th:field="*{topTracksOnly}"/></label></span>
            <span><label th:text="#{label.topTracksOnly}"></label></span>
        </div>
        <div>
            <span><input type="submit" value="Generate"/></span>
            <button type="button" id="go-back" onclick="goToTravel()">Back</button>
        </div>
    </form>
</div>

<script src="webjars/jquery/3.3.1-2/jquery.js"></script>
<script src="/js/main.js"></script>
</body>
</html>