<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>
</head>
<body>

<div class="header">
    <div class="logo">
        <a href="/"><img src="../images/logo.png" width="80" height="80" alt=""/></a>
    </div>
    <div class="menu">
        <ul sec:authorize="isAnonymous()">
            <li><a th:href="@{/login}" title="">Log In</a></li>
            <li><a th:href="@{/registration}" title="">Sign Up</a></li>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}" title="">Admin Panel</a>
            <li><a th:href="@{/profile/my-playlists}" title="">My Playlists</a>
            </li>
            <li><a class="username" th:href="@{/profile/edit-profile}" title="" th:text="${userDTO.username}"></a>
            </li>
            <li><a th:href="@{/logout}" title="">Sign Out</a></li>
        </ul>
    </div>
</div>

<div class="edit-user-form">
    <form class="form" action="#" th:action="@{/profile/edit-profile}" th:object="${userDTO}" method="post">
        <input type="hidden" th:field="*{username}"/>
        <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
            Error </p>
        <input type="email" placeholder="Email Address" th:field="*{email}" required="required"/>
        <select th:field="${userDTO.countryId}" placeholder="Select country">
            <option
                    th:each="country : ${countries}"
                    th:value="${country.id}"
                    th:text="${country.name}"
            >
            </option>
        </select>
        <input type="submit" value="save"/>
        <button><a th:href="@{/profile/my-playlists}">
            My Playlists</a></button>
    </form>
</div>

</body>
</html>