<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Playlist</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>
</head>
<body>

<div class="header">
    <div class="logo">
        <a href="/"><img src="/images/logo.png" width="80" height="80" alt=""/></a>
    </div>

    <div class="menu">
        <ul sec:authorize="isAnonymous()">
            <li><a th:href="@{/login}" title="">Log In</a></li>
            <li><a th:href="@{/registration}" title="">Sign Up</a></li>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}" title="">Admin Panel</a>
            </li>
            <li><a th:href="@{/profile/my-playlists}" title="">My Playlists</a>
            </li>
            <li><a class="username" th:href="@{/profile/edit-profile}" title="" th:text="${user.username}"></a>
            </li>
            <li><a th:href="@{/logout}" title="">Sign Out</a></li>
        </ul>
    </div>
</div>

<div class="edit-playlist">
    <form class="form" action="#" th:action="@{/profile/my-playlists/{playlist}/edit (playlist = ${playlist.id})}"
          th:object="${playlist}"
          method="post">
        <label th:text="#{label.title}">Title</label>
        <label><input type="text" th:field="*{title}" required="required"/></label>
        <input type="submit" value="Save"/>
        <button onclick="goToMyPlaylists()"> Back</button>
    </form>
</div>

<script src="webjars/jquery/3.3.1-2/jquery.js"></script>
<script src="/js/main.js"></script>

</body>
</html>