<!DOCTYPE html>
<html class="different-background" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/css/slider.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">
    <div class="logo">
        <a href="/"><img src="images/logo.png" width="80" height="80" alt=""/></a>
    </div>

    <div class="menu">
        <ul sec:authorize="isAnonymous()">
            <li><a th:href="@{/login}" title="">Log In</a></li>
            <li><a th:href="@{/registration}" title="">Sign Up</a></li>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}" title="">Admin Panel</a>
            </li>
            <li><a th:href="@{/profile/my-playlists}" title="">My Playlists</a>
            </li>
            <li><a class="username" th:href="@{/profile/edit-profile}" title="" th:text="${user.username}"></a>
            </li>
            <li><a th:href="@{/logout}" title="">Sign Out</a></li>
        </ul>
    </div>
</div>


<div class="cover">
    <button type="button" class="start-button" onclick="goToTravel()">START JOURNEY</button>
    <img class="home-picture" src="images/home6.jpg" width="100%" height="500" alt=""/>
</div>

<div class="search-block">

    <form class="search-form">
        <input class="search-form-element-title" id="title" type="text" placeholder="Search for playlist"/>
        <button class="search-form-element-button" type="button" value="goToSearch()" onclick="goToSearch()"><span
                class="fa fa-search"></span></button>
        <div class="form-group search-form-element">
                <span class="genres" th:each="genre : ${genres}">
                <input type="checkbox" th:field="*{genres}" th:value="${genre.name}"
                       th:id="${genre.name}"/>
                <label class="genre-name" th:text="${genre.name}">Rock</label></span>
        </div>

        <div class="form-group search-form-element">
            <div class="text-center">Duration in minutes</div>
            <section class="range-slider">
                <span class="rangeValues"></span>
                <input id="min-duration" value="0" min="0" max="600" step="1" type="range">
                <input id="max-duration" value="600" min="0" max="600" step="1" type="range">
            </section>
        </div>
    </form>

</div>
<div class="playlist-group">
    <div class="playlist" th:each="playlist:${playlistPage}">
        <div class="properties">
            <a th:href="@{/playlists/{playlistId} (playlistId = ${playlist.id})}">
                <img th:src="@{{pic}(pic = ${playlist.getPictureAsBase64()})}" alt="" width="290" height="290"/></a>
            <a th:href="@{/playlists/{playlistId} (playlistId = ${playlist.id})}">

                <h3 class="property-row" th:text="${playlist.title}"></h3>
            </a>

            <table>
                <tr>
                    <th> Duration:</th>
                    <th class="duration-as-time property-row" th:text="${playlist.duration}"> Duration:</th>
                </tr>
                <tr>
                    <th> Rank:</th>
                    <th class="property-row" th:text="${playlist.rank}"></th>
                </tr>
                <tr>
                    <th> Genres:</th>
                    <th>
                        <span th:each="genre : ${playlist.genres}">
                        <span><label th:text="${genre.name}"></label></span>
                        </span>
                    </th>
                </tr>
            </table>

        </div>
    </div>
    <div class="pagination">
    <span th:if="${playlistPage.totalPages > 0}"
          th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/(size=${playlistPage.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==playlistPage.number + 1} ? active"></a>
    </span></div>
</div>

<script src="webjars/jquery/3.3.1-2/jquery.js"></script>
<script src="/js/main.js"></script>
<script src="/js/slider.js"></script>
</body>
</html>