<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Calculate Travel Time</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>
</head>
<body>

<div class="header">
    <div class="logo">
        <a href="/"><img src="images/logo.png" width="80" height="80" alt=""/></a>
    </div>

    <div class="menu">
        <ul sec:authorize="isAnonymous()">
            <li><a th:href="@{/login}" title="">Log In</a></li>
            <li><a th:href="@{/registration}" title="">Sign Up</a></li>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}" title="">Admin Panel</a>
            <li><a th:href="@{/profile/my-playlists}" title="">My Playlists</a>
            </li>
            <li><a class="username" th:href="@{/profile/edit-profile}" title="" th:text="${user.username}"></a>
            </li>
            <li><a th:href="@{/logout}" title="">Sign Out</a></li>
        </ul>
    </div>
</div>

<div class="journey">
    <form class="form" action="#" th:action="@{/journey}" th:object="${journey}" method="post">
        <div class="location-info">
            <table>
                <tr>
                    <td><label></label></td>
                    <td><label class="h1">Start Point</label></td>
                </tr>
                <tr class="more-options">
                    <td><label class="geographic">Country*</label></td>
                    <td><label><input type="text" th:field="${journey.startLocation.countryRegion}"
                                      required="required"/></label></td>
                </tr>

                <tr class="more-options">
                    <td><label class="geographic">State</label></td>
                    <td><label><input type="text" th:field="${journey.startLocation.adminDistrict}"/></label></td>
                </tr>

                <tr>
                    <td><label class="geographic">City*</label></td>
                    <td><label><input type="text" th:field="${journey.startLocation.locality}"
                                      required="required"/></label>
                    </td>
                </tr>

                <tr class="more-options">
                    <td><label class="geographic">Postal Code</label></td>
                    <td><label><input type="text" th:field="${journey.startLocation.postalCode}"/></label></td>
                </tr>

                <tr>
                    <td><label class="geographic">Address</label></td>
                    <td><label><input type="text" th:field="${journey.startLocation.addressLine}"/></label></td>
                </tr>
            </table>
        </div>

        <div class="location-info">
            <table>
                <tr>
                    <td><label class="h1">Destination</label></td>
                </tr>
                <tr class="more-options">
                    <td><label><input type="text" th:field="${journey.endLocation.countryRegion}" required="required"/></label>
                    </td>
                </tr>

                <tr class="more-options">
                    <td><label><input type="text" th:field="${journey.endLocation.adminDistrict}"/></label></td>
                </tr>

                <tr>
                    <td><label><input type="text" th:field="${journey.endLocation.locality}"
                                      required="required"/></label></td>
                </tr>
                <tr class="more-options">
                    <td><label><input type="text" th:field="${journey.endLocation.postalCode}"/></label></td>
                </tr>
                <tr>
                    <td><label><input type="text" th:field="${journey.endLocation.addressLine}"/></label></td>
                </tr>
            </table>
        </div>
        <button type="button" id="opt-btn" onclick="toggleVisibility()">More</button>
        <input type="submit" value="Show Time"/>
    </form>
</div>

<script src="webjars/jquery/3.3.1-2/jquery.js"></script>
<script src="/js/main.js"></script>
</body>
</html>