<!DOCTYPE html>
<html class="different-background" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Playlists</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>
</head>
<body>

<div class="header">
    <div class="logo">
        <a href="/"><img src="../images/logo.png" width="80" height="80" alt=""/></a>
    </div>

    <div class="menu">
        <ul sec:authorize="isAnonymous()">
            <li><a th:href="@{/login}" title="">Log In</a></li>
            <li><a th:href="@{/registration}" title="">Sign Up</a></li>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}" title="">Admin Panel</a>
            <li><a th:href="@{/profile/my-playlists}" title="">My Playlists</a>
            </li>
            <li><a class="username" th:href="@{/profile/edit-profile}" title="" th:text="${user.username}"></a>
            </li>
            <li><a th:href="@{/logout}" title="">Sign Out</a></li>
        </ul>
    </div>
</div>

<div class="my-playlists">
    <div class="playlist" th:each="playlist:${user.playlists}">
        <div class="properties">
            <a th:href="@{/playlists/{playlistId} (playlistId = ${playlist.id})}">
                <img th:src="@{{pic}(pic = ${playlist.getPictureAsBase64()})}" alt="" width="290" height="290"/></a>
            <a th:href="@{/playlists/{playlistId} (playlistId = ${playlist.id})}">

                <h3 class="property-row" th:text="${playlist.title}"></h3>
            </a>

            <table>
                <tr>
                    <th> Duration:</th>
                    <th class="duration-as-time property-row" th:text="${playlist.duration}"> Duration:</th>
                </tr>
                <tr>
                    <th> Rank:</th>
                    <th class="property-row" th:text="${playlist.rank}"></th>
                </tr>
                <tr>
                    <th> Genres:</th>
                    <th>
                        <span th:each="genre : ${playlist.genres}">
                        <span><label th:text="${genre.name}"></label></span>
                        </span>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>

<script src="../webjars/jquery/3.3.1-2/jquery.js"></script>
<script src="../js/main.js"></script>

</body>
</html>