<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Playlist-Generator Player</title>
    <style>
        #playlist {
            list-style: none;
        }

        #playlist li a {
            color: black;
            text-decoration: none;
        }

        #playlist .current-song a {
            color: blue;
        }
    </style>
</head>
<body>
<audio autoplay controls id="audioPlayer">
    Sorry, your browser doesn't support html5!
</audio>
<ul id="playlist">
    <li th:each="track : ${playlist}"><a th:href="${track.preview}">pesen</a></li>
</ul>
<a href="#" onclick="playlist.prevTrack();">Prev Track</a>
<a href="#" onclick="playlist.nextTrack();">Next Track</a>
<a href="#" onclick="playlist.toggleShuffle();">Toggle Shuffle</a>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script type="text/javascript" src="/js/audioPlayer.js"></script>
<script type="text/javascript">

    /*
Default constructor configuration:
    autoplay: false,
    shuffle: false,
    loop: false,
    playerId: "audioPlayer",
    playlistId: "playlist",
    currentClass: "current-song"


*/

    // loads the audio player
    let config = {
        autoplay: true,
        loop: true,
        shuffle: true
    };
    let playlist = new AudioPlaylist();

</script>
</body>
</html>
