<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${playlist.title}">Playlist</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body>

<div class="header">
    <div class="logo">
        <a href="/"><img src="../images/logo.png" width="80" height="80" alt=""/></a>
    </div>

    <div class="menu">
        <ul sec:authorize="isAnonymous()">
            <li><a th:href="@{/login}" title="">Log In</a></li>
            <li><a th:href="@{/registration}" title="">Sign Up</a></li>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}" title="">Admin Panel</a>
            <li><a th:href="@{/profile/my-playlists}" title="">My Playlists</a>
            </li>
            <li><a class="username" th:href="@{/profile/edit-profile}" title="" th:text="${user.username}"></a>
            </li>
            <li><a th:href="@{/logout}" title="">Sign Out</a></li>
        </ul>
    </div>
</div>

<div class="playlist-master">
    <div class="properties-master">
        <div class="properties">
            <a sec:authorize="isAuthenticated()" th:if="${owner}"
               th:href="@{/profile/my-playlists/{playlistId}/edit (playlistId = ${playlist.id})}">
                <button class="edit"> Edit</button>
            </a>
            <form class="delete" sec:authorize="isAuthenticated()" th:if="${owner}"
                  action="#" th:action="@{/profile/my-playlists/{playlistId}/delete (playlistId = ${playlist.id})}"
                  th:object="${playlist}"
                  method="post">
                <div>
                    <input class="delete" type="submit" value="Delete"/>
                </div>
            </form>
            <a th:href="@{/playlists/{playlistId} (playlistId = ${playlist.id})}">
                <img th:src="@{{pic}(pic = ${playlist.getPictureAsBase64()})}" alt="" width="290" height="290"/></a>
            <a th:href="@{/playlists/{playlistId} (playlistId = ${playlist.id})}">

                <h3 class="property-row" th:text="${playlist.title}"></h3>
            </a>

            <table>
                <tr>
                    <th> Duration:</th>
                    <th class="duration-as-time property-row" th:text="${playlist.duration}"> Duration:</th>
                </tr>
                <tr>
                    <th> Rank:</th>
                    <th class="property-row" th:text="${playlist.rank}"></th>
                </tr>
                <tr>
                    <th> Genres:</th>
                    <th>
                        <span th:each="genre : ${playlist.genres}">
                        <span><label th:text="${genre.name}"></label></span>
                        </span>
                    </th>
                </tr>
            </table>



        </div>

        <div class="player">
            <audio autoplay controls id="audioPlayer">
                Sorry, your browser doesn't support html5!
            </audio>
            <div>
                <button onclick="playlist.prevTrack();"><i class="fas fa-step-backward"></i></button>
                <button onclick="playlist.nextTrack();"><i class="fas fa-step-forward"></i></button>
                <button onclick="playlist.toggleShuffle();"><i class="fas fa-random"></i></button>
            </div>
        </div>

    </div>


    <div class="tracklist">
        <div class="titles">
            <div class="title" th:text="#{label.title}"></div>
            <div class="artist" th:text="#{label.artists}"></div>
            <div class="duration-label" th:text="#{label.duration}"></div>
            <div class="rank" th:text="#{label.rank}"></div>
            <div class="genre" th:text="#{label.genre}"></div>
        </div>
        <ul id="playlist">
            <li class="songs" th:each="track : ${playlist.tracks}">
                <a th:href="${track.preview}">
                    <div class="title" th:text="${track.title}"></div>
                    <div class="artist" th:text="${track.getAlbum().getArtist().name}"></div>
                    <div class="duration-track" th:text="${track.duration}"></div>
                    <div class="rank" th:text="${track.rank}"></div>
                    <div class="genre" th:text="${track.genre.name}"></div>
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script src="/js/audioPlayer.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">

    /*
Default constructor configuration:
    autoplay: false,
    shuffle: false,
    loop: false,
    playerId: "audioPlayer",
    playlistId: "playlist",
    currentClass: "current-song"


*/

    // loads the audio player
    let config = {
        autoplay: true,
        loop: true,
        shuffle: true
    };
    let playlist = new AudioPlaylist();
</script>
</body>
</html>