<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>
</head>

<body class="registration">

<div class="form">
    <div class="logo-center">
        <a href="/"><img src="images/logo.png" width="100" height="100" alt=""/></a>
    </div>
    <form class="register-form" action="#" th:action="@{/registration}" th:object="${userDTO}" method="post">
        <p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username
            Error </p>
        <input type="text" placeholder="Username" th:field="*{username}" required="required"/>
        <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
            Error </p>
        <input type="password" placeholder="Password" th:field="*{password}" required="required">
        <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
            Error </p>
        <input type="email" placeholder="Email Address" th:field="*{email}" required="required"/>

        <p class="error" th:if="${#fields.hasErrors('countryId')}" th:errors="*{countryId}">Country
            Error </p>
        <select th:field="${userDTO.countryId}" placeholder="Select country">
            <option
                    th:each="country : ${countries}"
                    th:value="${country.id}"
                    th:text="${country.name}"
            >
            </option>
        </select>

        <input type="submit" value="register"/>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
</div>


</body>
</html>