<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>
</head>
<body>

<div class="header">
    <div class="logo">
        <a href="/"><img src="../images/logo.png" width="80" height="80" alt=""/></a>
    </div>

    <div class="menu">
        <ul sec:authorize="isAnonymous()">
            <li><a th:href="@{/login}" title="">Log In</a></li>
            <li><a th:href="@{/registration}" title="">Sign Up</a></li>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}" title="">Admin Panel</a>
            </li>
            <li><a th:href="@{/profile/my-playlists}" title="">My Playlists</a>
            </li>
            <li><a class="username" th:href="@{/profile/edit-profile}" title="" th:text="${user.username}"></a>
            </li>
            <li><a th:href="@{/logout}" title="">Sign Out</a></li>
        </ul>
    </div>
</div>


<div class="users">
    <button onclick="goToRegistration()">Add User</button>
    <button onclick="goToPlaylistList()">Playlists</button>
    <button onclick="goToSync()">Synchronize Genres</button>

    <div>
        <h2 th:if="${users.isEmpty()}">No Users</h2>

        <h2 th:unless="${users.isEmpty()}">Users</h2>
    </div>

    <table>
        <thead>
        <tr>
            <th th:text="#{label.email}"></th>
            <th th:text="#{label.username}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.email}"></td>
            <td th:text="${user.username}"></td>
            <td>
                <button><a th:href="@{/admin/users/{username}(username = ${user.username})}" th:text="#{label.edit}">
                </a></button>

            </td>
            <td>
                <form action="#" th:action="@{/admin/users/{username}/delete (username = ${user.username})}"
                      th:object="${user}"
                      method="post">
                    <div>
                        <input type="submit" value="Delete"/>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <h2 th:if="${deletedUsers.isEmpty()}">No Deleted Users</h2>

        <h2 th:unless="${deletedUsers.isEmpty()}">Deleted Users</h2>
    </div>

    <table>
        <thead>
        <tr>
            <th th:text="#{label.email}"></th>
            <th th:text="#{label.username}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${deletedUsers}">
            <td th:text="${user.email}">Petar</td>
            <td th:text="${user.username}">Petrov</td>
            <td>
                <form action="#" th:action="@{/admin/users/{username}/restore (username = ${user.username})}"
                      th:object="${user}"
                      method="post">
                    <div>
                        <input type="submit" value="Restore User"/>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="webjars/jquery/3.3.1-2/jquery.js"></script>
<script src="/js/main.js"></script>
</body>
</html>