<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unauthorized</title>
</head>
<body>
<h1 th:text="${message}"></h1>
<a href="/">go back</a>
</body>
</html>