<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oops!</title>
</head>
<body>
<h1>It's not you, it's us!</h1>
<h3 th:text="${message}"></h3>
<a href="/">go back</a>
</body>
</html>