html {
    margin: 0;
    background: rgb(108, 179, 133);
    font-family: "Roboto", sans-serif;
}

.different-background {
    background: white;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.login, .registration {
    background: white;
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input, .form select {
    font-family: inherit;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 0;
    background: #f2f2f2;
}

input[type="submit"] {
    text-transform: uppercase;
    background: #6FA241;
    background: rgb(108, 179, 133);
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-family: "Roboto", sans-serif;
    border: 0;
}

input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
    background: #d4de23;
    background: rgb(21, 79, 42);
    background: rgb(60, 116, 80);
}

.form {
    padding: 45px;
    text-align: center;
    font-size: 14px;
}

/*.login .form{*/
/*height: 400px;*/
/*}*/

.logo-center {
    margin-bottom: 15px;
}

.header {
    position: fixed;
    width: 100%;
    height: 90px;
    background: black;
    margin: 0;
    z-index: 5;
}

.logo {
    width: 80px;
    height: 80px;
    margin: 5px 20px;
    float: left;
}

.menu {
    float: right;
}

.menu ul {
    list-style: none;
    margin-right: 15px;
    margin-top: 22px;
}

.menu li {
    float: left;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.create-playlist, .journey, .edit-playlist {
    position: absolute;
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.create-playlist {
    top: 160px;
    left: 600px;
    width: 360px;
}

.create-playlist .genres {
    float: left;
    width: 80px;
}

.create-playlist .options {
    float: left;
    width: 130px;
}

.create-playlist .options label {
    float: left;
}

.create-playlist input[type="submit"] {
    width: 200px;
    float: left;
}

.create-playlist button, .edit-playlist button {
    width: 48px;
    float: left;
    height: 46.8px;
    margin-left: 22px;
}

.checkbox-size {
    width: 20px;
}

.create-playlist .sentence {
    margin-bottom: 15px;
}

.create-playlist .genres label {
    float: left;
}

.create-playlist .genres-percentages {
    float: left;
}

.create-playlist .genres-percentages label {
    float: left;
    width: 135px;
}

.create-playlist .genres-percentages .genre-name {
    display: inline-block;
    margin-top: 15px;
}

.journey {
    width: 600px;
    left: 460px;
    top: 160px;
}

.journey form {
    padding-left: 30px;
}

.geographic {
    padding: 15px;
    display: inline-block;
    margin-bottom: 15px;
}

.journey .h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.journey .location-info {
    float: left;
}

.journey input[type="submit"] {
    margin-left: 308px;
}

#opt-btn {
    float: left;
    width: 80px;
    height: 46.8px;
    margin-left: 21px;
    border-width: 0;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.genres-percentages, .more-options, .duration {
    display: none;
}

.cover {
    position: relative;
    width: 100%;
    height: 500px;
}

.search-block {
    width: 300px;
    height: 100%;
    background: white;
    position: absolute;
    top: 500px;
}

.playlist-group {
    position: absolute;
    background: white;
    top: 500px;
    left: 300px;
    width: 1218px;
}

.playlist {
    float: left;
    margin: 5px 5px;
    width: 290px;
    height: 460px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background: #6fa241;
    background: rgb(108, 179, 133);
}

.property-row {
    margin-left: 15px;
}

.search-form-element {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 16px;
}

.text-center {
    margin: inherit;
}

.search-form-element-button {
    font-size: 16px;
    padding: 12px 8px;
}

.search-form-element-title {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 16px;
    padding: 12px 0;
    width: 170px;
}

button {
    cursor: pointer;
    background: rgb(108, 179, 133);
    color: white;
    transition: all 0.3s ease;
    text-transform: uppercase;

    border-width: 0;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-size: 14px;
}

.properties table {
    text-align: left;
    margin-left: 10px;
}

.properties th {
    margin: 10px 0;
}

/*.playlist .property-row{*/
/*margin: 10px 10px;*/
/*}*/

.start-button {
    position: absolute;
    z-index: 4;
    left: 630px;
    top: 300px;
    transition: all 0.3s ease;
    height: 50px;
    width: 300px;
    font-size: 22px;
    color: white;
}

.start-button:hover, .start-button:active, .start-button:focus {
    background: rgb(21, 79, 42);
    background: rgb(60, 116, 80);
}

button:hover, button:active {
    background: rgb(21, 79, 42);
    background: rgb(60, 116, 80);
}

.properties a {
    color: black;
    text-decoration: none;
}

.pagination {
    position: absolute;
    bottom: -65px;
    padding: 40px 5px;
    font-size: 18px;
}

.pagination a {
    color: black;
}

.no-cover {
    top: 90px;
}

.playlist-master, .my-playlists {
    top: 90px;
    position: relative;
}

.properties-master {
    width: 350px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.properties-master img {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.properties-master .edit, .properties-master .delete {
    height: 46.8px;
    margin-bottom: 10px;
    background: black;
}

.properties-master .edit {
    margin-right: 10px;
    width: 58px;
}

.player {
    margin-top: 10px;
}

.player button {
    background: black;
    height: 36px;
    width: 46px;
}

.player div {
    margin-left: 74px;
}

.tracklist {
    float: left;
}

#playlist {
    list-style: none;
}

#playlist a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#playlist .current-song {
    font-weight: bold;
    overflow: visible;
}

#playlist .title, .title {
    width: 400px;
    float: left;
}

#playlist .artist, .artist {
    width: 300px;
    float: left;

}

#playlist .duration-track, .duration-label {
    width: 100px;
    float: left;
}

#playlist .rank, .rank {
    width: 60px;
    float: left;
}

#playlist .genre, .genre {
    width: 50px;
    margin-left: 50px;
    float: left;
}

.songs {
    overflow: hidden;
    padding: 3px;
}

.titles {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 3px;
    font-size: 18px;
}

.my-playlists {
    background: white;
}

.edit-user-form {
    top: 90px;
    float: left;
    position: relative;
}

.edit, .delete {
    float: left;
}

.journey td {
    width: 115px;
}

.journey input {
    width: 180px;
}

.edit-user, .playlist-list, .users {
    top: 90px;
    float: left;
    position: relative;
}

.edit-playlist {
    top: 250px;
    height: 200px;
    left: 600px;
}

.edit-playlist input[type="submit"] {
    width: 140px;
    float: left;
}

.users a, .playlist-list a, .edit-user-form a {
    text-decoration: none;
    color: white;
}

.edit-user {
    top: 190px;
    height: 400px;
    left: 580px;
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.edit-user button {
    height: 46.8px;
    margin-left: 40px;
    width: 60px;
}

.edit-user input[type="submit"] {
    margin-top: 14px;
}

.edit-user-form {
    top: 150px;
    left: 580px;
    float: left;
    position: relative;
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.edit-user-form input[type="submit"] {
    float: left;
    width: 200px;
}

.edit-user-form button {
    float: left;
    margin-left: 40px;
    height: 46.8px;
}

.users, .playlist-list {
    top: 150px;
    left: 50px;
}

